<div class="flex flex-col lg:flex-row w-full max-h-screen bg-[#EEEDED]">
    <!-- Left Panel - Image Section -->
    <div class="hidden lg:flex lg:w-[50%] p-5 bg-[#BD9F69] rounded-tr-[50px] rounded-br-[50px] relative flex-col overflow-hidden">
        <img [src]="logoUrl" alt="Eau Claire"
            class="absolute -top-4 -left-4 w-32 h-32 sm:w-40 sm:h-40 lg:w-48 lg:h-48 max-h-full max-w-full object-contain z-10" />
        <img [src]="pictureUrl" alt="thumbnail"
            class="w-full h-full scale-307 object-cover translate-y-10 translate-x-0" />
    </div>

    <!-- Right Panel - Form Section -->
    <div class="w-full lg:w-[45%] min-h-screen bg-[#EEEDED] p-6 sm:p-12 md:p-20 lg:p-32 flex items-center justify-center">
        <!-- Mobile Logo (only visible on small screens) -->
        <img [src]="logoUrl" alt="Eau Claire"
            class="lg:hidden absolute top-6 left-6 w-24 h-24 sm:w-32 sm:h-32 object-contain z-10" />
        
        <div class="w-full max-w-md">
            <ng-content></ng-content>
        </div>
    </div>
</div>